.venv/
build/
*.egg-info/
__pycache__/
.pytest_cache/
.DS_Store
*.py[cod]
outputs/*
outputs/**/*
!outputs/.gitkeep
!outputs/**/
!outputs/**/*.json
!outputs/**/*.csv
!outputs/**/*.png
output/pdf/*.pdf
tmp/
